/*!
 * Color Admin v5.1.5 (https://seantheme.com/color-admin/)
 * Copyright 2022 SeanTheme
 */

@use 'font';
@use 'functions';
@use 'variables';
@use 'node_modules/bootstrap/scss/bootstrap';
@use 'mixins';
@use 'root';
@use 'reboot';
@use 'app';
@use 'layout';
@use 'ui';
@use 'pages';
@use 'plugins';
@use 'helper';
@use 'rtl';
